/*
I will show you how to change a height of a standard Bootstrap navbar.

*/

.navbar {
    min-height: 80px;
}

.navbar-brand {
    font-weight: 900;
    font-size: 40px;
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.col-md-6 p {
    padding: 20px;
}

.panel-heading a {
    color: white;
    margin-left: 60%;
}